@font-face {
  font-family: "PingFangSC";
  src: url("./assets/fonts/PingFang.ttc");
}

:root:root {
  --van-blue: #0065B9;
  --c-blue: #0082FF;
  --van-tab-active-text-color: var(--van-black);
  --c-grey: #666;
  --c-grey2: #D5D5D5;
  --c-grey3: #999;
  --van-font-size-xsm: 13px;
  --van-field-label-color: var(--c-grey);
  --van-field-disabled-text-color: var(--c-grey);
  --van-button-primary-border-color: var(--c-blue);
  --van-button-primary-background: var(--c-blue)
}